body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #000;
  color: #fff;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
}

h3 {
  font-family: 'Ephesis', cursive;
  letter-spacing: 4px;
}

p {
  line-height: 1.9;
}
