body {
  background-color: #222831;
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.9;
  margin-bottom: 4em;
}

h3 {
  font-family: 'Satisfy', cursive;
  letter-spacing: 4px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Hero {
  display: flex;
  text-align: left;
  width: 60%;
  padding: 60px;
  margin: 0 auto ;
}

.Hero-text {
  padding-top: 100px;
  padding-right: 100px;
}

.Hero img {
  width: 400px;
  border-radius: 5px;
  box-shadow: rgba(196, 196, 196, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Hero img:hover {
  width: 402px;
  border-radius: 7px;
  box-shadow: rgba(242, 242, 242, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all .4s;
  background-color: #979797;
  padding: 5px 0 0 5px;
}

.Hero button {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button::after,
button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #29a19c;
  border-radius: 10px;
}

button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

@media screen and (max-width: 780px) {
  .Hero {
    display: block;
    width: 95%;
    padding: 50px 10px;
  }
  .Hero img {
    margin-top: 50px;
    max-width: 95%;
  }
}

.container {
  position: relative;
  display: block;
  width: 400px;
  margin: 120px auto;
}

form {
  background:#222831;
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}

form a:hover {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

form a:active {
  text-shadow: none;
}

form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

form input[type="button"]:hover {
  cursor: pointer;
}

form input[type="button"]:active {
  background: rgba(255, 255, 255, 0.2);
}

form:hover {
  margin: 4px;
}

form::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
  background: #fff;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}

.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}

.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}

.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}